{% extends "Shared/~base.html.twig" %}
{% block bodytag %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="todo-list shadow">
                    <div class="row headers">
                        <div class="col" sort-option="username"><p class="username"><i class="fa fa-user" aria-hidden="true"></i>Username</p></div>
                        <div class="col" sort-option="email"><p class="email">@ Email</p></div>
                        <div class="col" sort-option="task_content"><p class="task"><i class="fa fa-sticky-note" aria-hidden="true"></i>TODO Task</p></div>
                        <div class="col" sort-option="is_completed"><i class="fa fa-check-square" aria-hidden="true"></i>Completed</div>
                    </div>
                    {% for TODO_item in TODO_data.items %}
                        <div class="row contents">
                            <div class="col"><p class="username">{{ TODO_item.username }}</p></div>
                            <div class="col"><p class="email">{{ TODO_item.email }}</p></div>
                            <div class="col"><p class="task">{{ TODO_item.task_content }} {% if TODO_item.is_edited %}<i class="fa fa-pencil" aria-hidden="true"></i>{% endif %}</p></div>
                            <div class="col">{% if TODO_item.is_completed != 0 %}<div class="task_completed_box"><i class="fa fa-check-square" style="color: limegreen; font-size: 30px" aria-hidden="true"></i></div>{% endif %}{% if is_admin() %}<div class="edit_row_button" edit-task-id="{{ TODO_item.id }}"><i class="fa fa-pencil" aria-hidden="true"></i></div>{% endif %}</div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary add-task-button">Add task</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% for page in TODO_data.pagination %}
                                        <li class="page-item {% if page.link == TODO_data.current_page_link %}disabled{% endif %}"><a class="page-link" href="{{ page.link }}">{{ page.number }}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not is_logged() %}
    <div class="container">
        <div class="row login-link-wrapper">
            <div class="col">
                <a href="/Auth/Index">Log In</a>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="row login-link-wrapper">
                <div class="col">
                    <a href="/Auth/Logout">Log Out</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="blackboard" style="display: none;">
    </div>

    <div class="container add-task-form">
        <div class="header-wrapper">
            <div class="header">
                <p>Adding a new task</p>
            </div>
            <div class="close-button">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <p>Enter your name:</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control username-todo-intput" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
        </div>
        <p>Enter your e-mail:</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">@</span>
            </div>
            <input type="text" class="form-control useremail-todo-intput" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
        </div>
        <p>Enter your task:</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control usertask-todo-intput" placeholder="Task" aria-label="Task" aria-describedby="basic-addon3">
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary submit-task-button">Add task</button>
            </div>
        </div>
    </div>

    <div class="container edit-task-form">
        <div class="header-wrapper">
            <div class="header">
                <p>Editing task</p>
            </div>
            <div class="close-button">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <p>Enter your task:</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control usertask-todo-intput" placeholder="Task" aria-label="Task" aria-describedby="basic-addon4">
        </div>
        <div class="row">
            <div class="col">
                <input class="task_completed_checkbox" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Task completed
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary save-task-changes-button">Save changes</button>
            </div>
        </div>
    </div>

    <div class="alert alert-danger bad-input-alert" role="alert">
        <h4 class="alert-heading">Something went wrong...</h4>
        <p></p>
    </div>
    <div class="alert alert-success data-sent-alert" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Data successfully sent to server!</p>
    </div>


<script src="{{ templates_dir }}/Scripts/todo.js"></script>
{% endblock %}